{
  "plugins": [
    "prettier-plugin-organize-attributes",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],

  "tailwindConfig": "./tailwind.config.js",
  
  "tailwindAttributes": ["className", "class"]


}
